@media only screen and (max-device-width: 730px) {
    .section-navbar{
        display: flex;
        flex-direction: column;
        height: 70px;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
    }    
    
    .search{
        display: none;
    }

    .youtube-mobile{
        display: none
    }

    .section-courses{
        display: flex;
        flex-direction: column;
    }

    .courses-cards{
        display: flex;
        flex-direction: column;
    }

    .section-redes{
        display: flex;
        flex-direction: column;
    }

    .redes-container{
        display: flex;
        flex-direction: column;
    }

    .section-footer{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: auto;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
    }

    /*new navbar
    */
    
}