@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

/*Configurações gerais*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    
}

header {
    background-color: #5B4E3E;
    box-shadow: 0px 3px 10px #464646;
}

/*
        Sessão de Fontsize
    1- h1, h2, h3, ...
    2 - p
    3 - a
*/

h1{
    font-size: 30px;
    font-weight: 400;
}

h2{
    font-size: 25px;
    font-weight: 400;
}

h2.small{
    font-size: 24px;
}

h2.smaller{
    font-size: 21px;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

h3.small{
    font-size: 18px;
}

h3.smaller{
    font-size: 17px;
}

h4{
    font-size: 16px;
    font-weight: 400;
}

h4.small{
    font-size: 15px;
}

h5{
    font-size: 14px;
    font-weight: 400;
}

h5.small{
    font-size: 12px;
}

p{
    font-size: 10px;
    font-weight: 400;
}

a{
    font-size: 14px;
    font-weight: 400;
}

a.footer{
    font-size: 30px;
}

h1.title-aim{
    color: #FFCE00;
    text-transform: uppercase;
}

h1.title-redes{
    color: #FFCE00;
    text-transform: uppercase;
    text-align: center;
}

/*
    Sessão de alinhamentos
    1- Margin top
    2 - Margin left
*/

.mt139{
    margin-top: 139px;
}
.mt112{
    margin-top: 112px;
}

.mt66{
    margin-top: 66px;
}

.mt52{
    margin-top: 52px;
}
.mt60{
    margin-top: 60px;
}

.mt29{
    margin-top: 29px;
}

.mt25{
    margin-top: 25px;
}

.mt19{
    margin-top: 19px;
}

.mt9{
    margin-top: 9px;
}


.mt4{
    margin-top: 4px;
}

.ml15{
    margin-left: 15px;
}

.ml100{
    margin-left: 100px;
}

/* Sessões*/

/*0 - Div global do site*/

.root-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

/*1 - Barra de navegação*/


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    text-transform: uppercase;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 16px;
}

nav li a:hover{
    background-color: #FFCE00;
}


.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #FFCE00;
    cursor: pointer;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*2 - Sessão de banner*/

.section-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/*3 - Sessão Proposito*/

.section-aim{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #fff;
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 60px 60px;
}

/*4 - Sessão de podcast*/

.section-podcast{
    display: flex;
    flex-direction: column;
    background-color:black;
    color: #fff;
    width: 100vw;
    height: auto;
    padding: 60px 60px;
}

.podcast-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    
}

.podcast-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.text>h2{
    color: #FFCE00;
}

.icon>i{
    font-size: 50px;
}

/*5 - Sessão de cursos*/

.section-courses{
    display: flex;
    flex-direction: column;
    background-color:black;
    color: #fff;
    width: 100vw;
    height: auto;
    align-items: center;
    padding: 60px 60px;
}
/*Corrigir aqui*/

.courses-container{
    display: flex; /*não especificar para não dar conflito entre o web e mobile*/
    gap: 100px; 
}

.courses-container.img-courses{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.courses-cards{
    text-align: center;
}

/*6 - Sessão de redes*/

.section-redes{
    display: flex;
    flex-direction: column;
    background-color:black;
    color: #fff;
    width: 100vw;
    height: auto;
    align-items: center;
    padding: 60px 60px;
}



.redes-container{
    display: flex; /*não especificar para não dar conflito entre o web e mobile*/
    gap: 100px; 
}

.redes-cards{
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.text>h2{
    text-align: center;
}

.redes-container.img-courses{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}



/*7 - Sessão de blog*/

.section-blog{
    display: flex;
    flex-direction: column;
    background-color:black;
    color: #fff;
    width: 100vw;
    height: auto;
    align-items: center;
    padding: 60px 60px;
}

.section-blog button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #FFCE00;
}

.section-blog button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.blog-img-content{
    text-align: center;
    /*background-color: #fff;*/
}


/*8 - Sessão de footer*/

.section-footer{
    display: flex;
    flex-direction: column;
    background-color:black;
    color: #fff;
    width: 100vw;
    height: auto;
    align-items: center;
    padding: 60px 60px;

}

.section-footer button{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #FFCE00;
}

.section-footer button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #3A3A3A;
}

.footer-container{
    display: flex; /*não especificar para não dar conflito entre o web e mobile*/
    gap: 100px;
}

.icons-footer-container{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icons-footer-container > a{
    text-decoration: none;
    color: inherit;
}

.icons-footer-container > i{
    font-size: 30px;
    background-color: #FFCE00;
}

.footer-cards{
    text-align: center;
}


/**/

.social-container{
    display: flex;
    flex-direction: column;
}


.conteudo{
    display: flex;
    flex-direction: column;
}


/*CONFIGURAÇÕES DO MOBILE - RESPONSIVO*/

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }

    iframe{
        width:400px; 
        height:260px;
        
    }

    .redes-container{
        display: flex;
        flex-direction: column; /*especificar parea o mobile*/
        align-items: center;
    }

    .courses-container{
        display: flex;
        flex-direction: column; /*especificar parea o mobile*/
        align-items: center;
    }

    .podcast-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-courses{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-container{
        display: flex;
        flex-direction: column; /*especificar parea o mobile*/
        align-items: center;
    }
}
