@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button.contribua{
    width: 164px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #FFCE00;
}

/*
        Font-sizes
*/
h1{
    font-size: 30px;
    font-weight: 400px;
    color: #FFCE00;
}

h2{
    font-size: 25px;
    font-weight: 400px;
}

h2.small{
    font-size: 24px;
}

h2.smaller{
    font-size: 21px;
}

h3{
    font-size: 20px;
    font-weight: 400px;
}

h3.small{
    font-size: 18px;
}

h4{
    font-size: 16px;
    font-weight: 400px;
}

h4.small{
    font-size: 12px;
}

h5{
    font-size: 10px;
}

p{
    font-size: 14px;
    font-weight: 400px;
}

a{
    font-size: 15px;
    font-weight: 400px;
    cursor: pointer;
}

/*
        Images
*/

img.logo-footer{
    width: 260px;
    height: 88px;
}


/*
        Aligns
        1. text-align
        2. margin-top
        3. margin-left
        4. margin-right
        5. margin-bottom
*/

.center{
    text-align: center;
}


.mt139{
    margin-top: 139px;
}

.mt116{
    margin-top: 116px;
}

.mt112{
    margin-top: 112px;
}

.mt110{
    margin-top: 110px;
}

.mt90{
    margin-top: 90px;
}

.mt85{
    margin-top: 85px;
}

.mt70{
    margin-top: 70px;
}

.mt66{
    margin-top: 66px;
}

.mt52{
    margin-top: 52px;
}

.mt50{
    margin-top: 50px;
}

.mt36{
    margin-top: 36px;
}

.mt29{
    margin-top: 29px;
}

.mt25{
    margin-top: 25px;
}

.mt19{
    margin-top: 19px;
}

.mt18{
    margin-top: 18px;
}

.mt14{
    margin-top: 14px;
}

.mt10{
    margin-top: 10px;
}

.mt2{
    margin-top: 2px;
}


.ml101{
    margin-left: 101px;
 }

.ml90{
    margin-left: 90px;
}

.ml60{
    margin-left: 60px;
}

.ml50{
    margin-left: 50px;
}

.ml35{
    margin-left: 35px;
}

.ml16{
    margin-left: 16px;
}

.mr101{
    margin-right: 101px;
 }

.mr90{
    margin-right: 90px;
}

.mr72{
    margin-right: 72px;
}

.mr60{
    margin-right: 60px;
}


.mb60{
    margin-bottom: 60px;
}

/*
        Configurações principais - root
*/


.root-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto
    ;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}


/*
        Sections
*/

.section-navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #5B4E3E;
    align-items: center;
    justify-content: space-between;
}

.section-banner{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.section-aim{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: black;
}

.section-courses{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.section-redes{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: black;
}

.section-blog{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100px;
    background-color: black;
}

.section-footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: #5B4E3E;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
}

/*
        Containers
        Contents
        Cards
*/


.logo-container{
    width: 160px;
    height: 40px;
}

.search{
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: #FFF;
    font-size: 15px;
    box-sizing: border-box;
    width: 227px;
    height: 38px;
    margin-left: 35px;
    margin-right: 50px;
    margin-bottom: 48px;
    text-align: end;
    background-image: url(src/icons/search.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 30px;
}


.banner-container{
    display: flex;
    flex-direction: column;
}

.aim-container{
    color: #ddd;
}


.courses-cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}


.redes-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: auto;
    justify-content: center;
}

.redes-cards{
    display: flex;
    flex-direction: column;
}


.blog-cards-content{
    display: flex;
    flex-direction: column;
    color: #303133;
    background-color: #FFF;
}

.footer-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 220px;
}


.footer-card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer-card-content{
    display: flex;
    flex-direction: column;
}

.footer-icons-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.menu-container

/*
        dropdown menu
*/

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover{
    background-color: #FFCE00;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    background-color: #FFF;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}








